@import url(https://fonts.googleapis.com/css?family=Jost);

.jost{
  font-family: "Jost";
  margin: 4%;
}
/* 
h1{
  font-size: "70px";
  color: #99CCE9;
  padding: 0%;
}

p{
  font-size: "30px";
  color: white
} */

.top{
  display:flex;
  flex-direction: column;
  gap: 0px;
  list-style: none;
  padding:0;
  margin:0;
}

.container{
  display:flex;
  flex-direction:column;
  width:900px;
}

.subcontainer{
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
}

.para-white { 
  font-size: 30px;
  color: white;
  flex:1
}

.para-blue{
  font-size: 30px;
  color: #99CCE9;
  flex:1;
}

.header{
  font-size: 70px;
  color: #99CCE9;
}

.weather-main{
  font-size: 140px;
  color: #99CCE9;
}

.weather-sub{
  font-size: 60px;
  color: white;
}

.App-header{
  background-color: #151924;
}

body{
  background-color: #37405D;
}